body {
    font-family: 'Montserrat', sans-serif;
    background-color: #b09e99;
}

.container {
    margin: 0 auto;
    background-color: #3b8ea5;
}

header {
    background-color: #3b8ea5;
    color: white;
}

.header_title {
    font-size: 1.7rem;
    padding-top: 0.6rem;
    padding-bottom: 1.6rem;
    text-align: center;
}

.menu__item {
    display: inline-block;
    margin: 0 1.7rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

.animation-background {
    color: white;
    background-image: url('../assets/IMG_2138.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.animation-h1 {
    font-size: 3rem;
    padding-top: 10rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.animation-type {
    font-size: 2rem;
    padding-left: 1rem;
    padding-bottom: 18rem;
}

.container p span.cursor {
    display: inline-block;
    background-color: white;
    margin-left: 0.1rem;
    width: 3px;
    animation:1s blinker linear infinite;
    -webkit-animation:1s blinker linear infinite;
    -moz-animation:1s blinker linear infinite;
    }

    @-moz-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @-webkit-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

.qui-suis-je {
    padding-bottom: 2rem;
    color: white;
    text-align: center;
    background-color: #c6d8d3
}

.title-qui-suis-je {
    font-size: 2rem;
    padding: 1rem 0;
}

.paragraphe-qui-suis-je {
    text-align: justify;
    margin: 0 3rem;
    font-size: 1.1rem;
}

.domaines {
    font-size: 2rem;
    padding-top: 1rem;
    color: white;
    text-align: center;
}