body {
    font-family: 'Montserrat', sans-serif;
    background-color: #b09e99;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: #ffe5d4;
}

header {
    background-color: #efc7c2;
    color: white;
}

.header_title {
    font-size: 1.7rem;
    padding-top: 0.6rem;
    padding-bottom: 1.6rem;
    text-align: center;
}

.menu__item {
    display: inline-block;
    margin: 0 1.7rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

.animation-background {
    color: white;
    background-image: url('../assets/IMG_2138.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.animation-h1 {
    font-size: 3rem;
    padding-top: 10rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.animation-type {
    font-size: 2rem;
    padding-left: 1rem;
    padding-bottom: 30rem;
}

article {
    color: white;
    text-align: center;
    background-color: #efc7c2
}

article > h1 {
    font-size: 2rem;
    padding: 1rem 0;
}

article > p {
    text-align: justify;
    margin: 0 3rem;
    font-size: 1.1rem;
}

.qui-suis-je {
    padding-bottom: 2rem;
}

.domaines {
    font-size: 2rem;
    padding-top: 1rem;
    color: white;
    text-align: center;
}